.searchContainer {
    display: flex;
    justify-content: center;
}

.searchBox {
    position: relative;
}

.searchButton {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
    border: none;
    background: transparent;
}

.searchInput {
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 5px 30px 5px 10px;
    width: 250px;
}